<!DOCTYPE html>

<html>
    <head> 
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
        <%- include('../layout/header') %>
        </header>
        <main>
            <!-- template -->
            <section>
                <img src=https://via.placeholder.com/150x150?text=who+is+that>
                <h4> Who dis </h4>
                <p> srs doe who is this? they seem cool.</p>
            </section>
        </main>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
    </body>
</html>