<!DOCTYPE html>

<html>
    <head> 
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
        <%- include('../layout/header') %>
        </header>
        <main>
            <!-- template -->
            <section>
                <img src=https://via.placeholder.com/300x450?text=Image+Placeholder alt="Brave astronaut programmers standing stoic staring unblinking at a distant sun">
                <h4> <!--SQL NAME--> Name Placeholder</h4>
                <p> <!-- SQL DESCRIPTION--> Description Placeholder</p>
                <ul>
                    <li><a target="_blank" href=" <!-- SQL GITHUB URL-->">  <i class="fab fa-github"></i></a></li>
                    <li><a target="_blank" href=" <!-- SQL LINKEDIN URL-->"><i class="fab fa-linkedin"></i></a></li>
                    <li><a target="_blank" href=" <!-- SQL TWITTER URL-->"> <i class="fab fa-twitter"></i></a></li>
                    <li><a target="_blank" href=" <!-- SQL EMAIL URL-->">   <i class="fas fa-envelope"></i></a></li>
                </ul>
            </section>
        </main>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
    </body>
</html>