<!DOCTYPE html>

<html>
    <head> 
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
        <%- include('../layout/header') %>
        </header>
        <main>
            <section id="aboutPage">
                <div class="planetImage">
                    <img src="styles/images/maxresdefault.jpg">
                </div>
                  <h3>Oops. Something went wrong.. </h3>
                  <p><%= error %></p>
            </section>
        </main>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
    </body>
</html>