<!DOCTYPE html>

<html>
    <head>
        <%- include('../layout/head') %>
    </head>
      <header>
        <%- include('../layout/header') %>
        <body>
          </header>
        <section id="hero">
            <img id="hero-image" src="<%= heroImage %>">
            <div id="content">
              <h1>Space Rover</h1>
              <p>How far apart are your favorite planets right now?  How long would it take you to travel between them? Space Rover has the answers.</p>
              <a href="#instructions"><button>Get Started</button></a>
            </div>
        </section>
        <section id="instructions">
          <h2>Instructions</h2>
          <p id="border-line"> </p>
          <p>Choose a date below and select two celestial bodies as your launch point and destination. When you click the “Fetch” button, Atlas the dog will fetch your request. Space Rover will then tell you how far apart those celestial bodies would be on that chosen date, how long it would take you to travel between them, and some facts about your destination.</p>

          <form action="/results" method="POST">
            <fieldset>
              Choose a Date: <input type="Date" name="date" value="date" required>
              Choose a Launch Point:
              <select name="startCelestialBody">
                  <option value="earth">Earth</option>
                  <option value="sun">Sun</option>
                  <option value="mercury">Mercury</option>
                  <option value="venus"> Venus</option>
                  <option value="moon">The Moon</option>
                  <option value="mars"> Mars</option>
                  <option value="jupiter"> Jupiter</option>
                  <option value="saturn"> Saturn</option>
                  <option value="uranus"> Uranus</option>
                  <option value="neptune"> Neptune</option>
                  <option value="pluto"> Pluto</option>
                </select>
              Choose a Destination: 
              <select name="endCelestialBody">
                <option value="sun">Sun</option>
                <option value="mercury">Mercury</option>
                <option value="venus"> Venus</option>
                <option value="earth">Earth</option>
                <option value="moon">The Moon</option>
                <option value="mars"> Mars</option>
                <option value="jupiter"> Jupiter</option>
                <option value="saturn"> Saturn</option>
                <option value="uranus"> Uranus</option>
                <option value="neptune"> Neptune</option>
                <option value="pluto"> Pluto</option>
              </select>
            </fieldset>
            <img id="atlas" src="/styles/images/atlas.png"></img>
            <button type="submit">Fetch!</button>
          </form>

        </section>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
      </body>
</html>