<!DOCTYPE html>

<html>
    <head>
        <%- include('../layout/head') %>
    </head>
      <header>
        <%- include('../layout/header') %>
        <body>
          </header>
        <section id="hero">
            <img id="hero-image" src="<%= heroImage %>">
            <div id="content">
              <h1>Space Rover</h1>
              <p>How far you are from your favorite planet right now?  How long would it take you to get there? Space Rover has the answers.</p>
              <a href="#instructions"><button>Get Started</button></a>
            </div>
        </section>
        <section id="instructions">
          <h2>Instructions</h2>
          <p id="border-line"> </p>
          <p>Choose a date below and select a celestial body. When you click the “Fetch” button, Space Rover will tell you how far from earth that celestial body was on your chosen date, how long it would take to get there, and some facts about your selection.</p>

          <form action="/results" method="POST">
            <fieldset>
              Choose a Date: <input type="Date" name="date" value="date" required>
              Choose a Celestial Body: 
              <select name="celestialBody">
                <option value="sun">Sun</option>
                <option value="mercury">Mercury</option>
                <option value="venus"> Venus</option>
                <option value="mars"> Mars</option>
                <option value="jupiter"> Jupiter</option>
                <option value="saturn"> Saturn</option>
                <option value="uranus"> Uranus</option>
                <option value="neptune"> Neptune</option>
                <option value="pluto"> Pluto</option>
              </select>
            </fieldset>
            <img id="atlas" src="/styles/images/atlas.png"></img>
            <button type="submit">Fetch!</button>
          </form>

        </section>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
      </body>
</html>
