<!DOCTYPE html>

<html>
    <head>
        <%- include('../layout/head') %>
    </head>
      <header>
        <%- include('../layout/header') %>
      </header>
      <body>
        <section id="hero">
          <img src="<%= heroImage %>">
          <div>
            <h1>Space Rover</h1>
            <p>Here is some text about what this page does and how you should proceeed</p>
            <button>Get Started</button>
          </div>
        </section>
        <section id="Instructions">
          <h2>Instructions</h2>
          <p>Here is some text to tell you what to do with the inputs below"</p>

          <form action="/results" method="POST">
            <fieldset>
              Choose a Date: <input type="Date" name="date" value="date">
              Choose a Celestial Body: 
              <select name="celestialBody">
                <option value="mars">Mars</option>
                <option value="jupiter"> Jupiter</option>
                <option value="mercury"> mercury</option>
              </select>
            </fieldset>
            <button type="submit">Fetch!</button>
          </form>

        </section>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
      </body>
</html>
