<!DOCTYPE html>

<html>

  <head>
      
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
      <main>
        
             



        <section>
          <% resultPlanet.forEach(planet => { %>
            <h4><%= planet.name %></h4>
            <img src=<%= planet.image %>>
          <% })  %>
        </section>
      </main>
  </body>
  <footer>
      <%- include('../layout/footer') %>
  </footer>

</html>