/* tablet view */
@media screen and (max-width: 800px) and (min-width: 480px){
  #hero img {
      min-width: 800px;
      position: fixed;
      overflow: hidden;
      z-index: -1000;
      top: 0;
      left: 0;
  }
}

/* Desktop view */
@media screen and (min-width: 800px){
  #hero img {
      width: 100%;
      position: fixed;
      overflow: hidden;
      z-index: -1000;
      top: 0;
  }
}

.TemporaryFix
{
    margin-top: 100px;
}

#content {
  background: rgb(41, 41, 41);
  color: rgb(209, 204, 204);
  display: block;
  text-align: center;
  width: 70%;
  height: 40%;
  margin: 15% auto;
  border-radius: 8px;
}

#instructions {
  color: rgb(209, 204, 204);
  text-align: center;
  background: rgb(41, 41, 41);
  width: 100%;
}

footer div {
  font-size: 1em;
  color: rgb(231, 225, 225);
  background: black;
  display: block;
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 1em 0em;
}